<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

</head>
<body>

<div class="topnav">
  <a class="logo" >ResourceWall</a>
  <a class="textL"  a href="#contact">Login</a>
  <a class="textL" class="active" href="#home">Register</a>
</div>



<div >


</div>

</body>
</html>
