<link rel="stylesheet" href="/styles/header.css" type="text/css" />
<div class="topnav">
<<<<<<< HEAD
  <a class="logo" href="/resources" >ResourceWall</a>
  <a class="textL"  a href="#contact">Login</a>
  <a class="textL" class="active" href="#home">Register</a>
  <a class="textL"  a href="#category">Category</a>
=======
  <a class="logo" href="/resources">ResourceWall</a>
  <a class="textL" href="/profile">Profile</a>
  <a class="textL" href="/resources/new">Create Resource</a>
>>>>>>> e09b17b07d839764065384406c928cdacc939137
</div>
