<br/>
<div class="search">
  <form action="/search" method="GET">
    <input type="text" class="searchTerm" name="searchtitle" placeholder="What are you looking for?">
    <button type="submit" class="searchButton">🔎<i class="fa-regular fa-magnifying-glass"></i></button>
  </form>
</div>
<br/>
