<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
 
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
  
<body>
  <header>
    <%- include('partials/header') %>
    <h1>NEW</h1>
  </header>
  <main>
  <form action="new" method="post">
    <div class="submit_div">
      <label for="create_New">Enter a URL</label>
      <input name="url" placeholder="url">


      <label for="create_New">Enter a TITLE</label>
      <input name="title" placeholder="title">

      <label for="create_New">Enter a DESCRIPTION</label>
      <input name="description" placeholder="description">

      <label for="create_New">Enter a CATEGORY</label>
      <input name="description" placeholder="category">

      <button type="submit" class="create_bth">submit</button>
    </div>
  </form>
</main>

<style>body {background: whitesmoke;}</style>

</body>


</html>
