.topnav {
  overflow: hidden;
  background-color: rgb(35, 194, 141);
  // background: linear-gradient(
  //   253.58deg, #2fc0ee 30%, #f17bd0 70%);
  box-shadow: 0px 20.2109px 40.4219px -6.73698px rgba(39, 76, 119, 0.16);
	border-radius: 5px 5px 20px 20px;
}
.topnav .logo{
  font-size:20px ;
  font-family: Academy Engraved LET;
}

.topnav .textL {
  float: right;
  font-size: 17px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding: 15px;
  padding-bottom: 20px;
}

.topnav a:active {
  background-color: #04AA6D;
  color: white;
  padding: 15px;
}
