main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  background: whitesmoke;
}



@media (min-width: 1000px) {
  .container{
      max-width: 1000px;
  }
}

.main{
  background-color: white;
}

.pageheading {
  margin-top: 40px;
}
