main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}


.topBody{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

}
.topBth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
};

.container {
  margin: 50px;
  width: 180px;
  height: 150px;
  border: 1px solid black;
}

.urlText {
  width: 150px;
  align-items: center;
  justify-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}